/* variables */
:root{
    --primary-color: #9e9d9d18;
    --secondary-color: #606060;
    --feature-color: #ff3823;
    --dark-feature-color: #b3291a;
    --orbit-color: #60606010;
}

/* universals */
* {
    font-family: 'Source Sans Pro', 'Century Gothic', 'Arial Narrow', Arial, sans-serif
}

/* || semantic tags */
a{
    text-decoration: none;
}

body{
    background-color:var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

h1 {
    color: var(--feature-color);
    font-size: 50px;
}

h2 {
    color: var(--secondary-color);
    font-size: 35px;
}

header ul{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 0px;
    width: 90%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

nav{
    width:80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

section{
    width: 70%;
    margin-left:auto;
    margin-right:auto;
}

header {
    background-color: var(--primary-color);
    top: 0;
    width: 100%;
}

header ul li{
    list-style-type: none;
    display: inline;
}

header ul li a{
    text-decoration: none;
    color: var(--secondary-color)
}

table{
    margin-left: auto;
    margin-right: auto;
}

table tr td{
    padding:20px;
    text-align: left;
    /* background-color: var(--orbit-color); */
    padding: 5px;
}

canvas{
    background-color: var(--orbit-color);
}

/* || classed selectors */
.job-board{
    width: 33%;
    text-align: center;
    border-bottom: 1px solid var(--dark-feature-color-color);
}

.title{
    text-align: center;
    color: var(--dark-feature-color);
    /* border-left: 3px solid var(--dark-feature-color); */
}

.places{
    margin-left: 10px;
    margin-right: 10px;
    width: 15%;
}

#display-picture{
    width: 10%;
    max-width: 100px;
    position: absolute;
}

#about {
    text-align: center;
}

/* Set the parent container to a flex box */
.work-cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
}

.work-card {
    flex: 1 0 0;
    width: 33%;
    min-width: 450px;
    max-width: 600px;
}

#planetaryMotion{
    width: 90%;
    max-width: 1200px;
}

.work-card figure {
    position: relative;
    opacity: 70%;
    border: 4px solid var(--secondary-color);
}

.work-card figure:hover {
    opacity: 90%;
}

.work-card figure img {
    vertical-align: bottom;
    width: 100%;
    max-height: 500px;
    /* Add blur effect */
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.work-card figure img:hover {
    /* Remove blur effect */
    filter: none;
    -webkit-filter: none;
}

.work-card figure figcaption{
    color: white;
    /* position: absolute; */
    bottom: 0%;
    left: 50%;
    padding-left: 5px;
    /* a transparent background */
    background: var(--secondary-color);
}

.current_job{
    color: var(--feature-color);
}

.last-job{
    color: var(--dark-feature-color);
}

/* || identified tags */


#jobs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    justify-content: center;
}

/* official discord color */
#discord-icon{
    color: #1a0dab;
}

.icon{
    width: 50px;
}

/* official linked In color */
#linkedIn-icon{
    color: #0a66c2;
}

.card-footer{
    display: flex;
    justify-content: space-between;
}

